* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #585a6087;
    color: #29292e;
  }

  html {
    font-size: 62.5%;
  }
  
  body, input, textarea {
    font: 400 1.6rem 'Roboto', sans-serif;
  }

  button {
    font-size: 1.2rem;
  }